DATABASE_URL=postgresql://[USER]:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

JWT_SECRET=jwt_secret_key

S3_BUCKET_NAME=ipo-anomaly-store

IAM_POLICY_NAME=IPOAppS3Policy

IAM_USER_NAME=ipo-app-s3-user

AWS_ACCESS_KEY_ID=********************

AWS_SECRET_ACCESS_KEY=****************************************

AWS_REGION=ap-south-1

REDIS_HOST=localhost

REDIS_PORT=6379
